.container {
  height: 100px;
  padding: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.container input {
  background-image: url("../../images/icons/search.svg");
  background-position: 250px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 300px;
  height: 50px;
  border-radius: 18px;
  padding-left: 15px;
}

.links {
  margin-top: 10px;
}

.links a {
  margin-right: 60px;
  text-decoration: none;
  position: relative;
}

.links a span {
  position: absolute;
  top: -30px;
  right: -20px;
  margin-left: 2px;
  color: red;
  font-weight: bold;
  border: solid white 2px;
  border-radius: 50%;
  padding: 2px 7px;
  background-color: white;
}
